# excludes
!dillinger/*
!minecraft-server-fabric/server.properties

# data dirs
**/data/

# archived files
.archive/
.archived/

# vscode
.vscode/

# env files
**/.env
**/*.env

# homepage config files
homepage/config/logs

# mysql
mysql/data/

# metabase
metabase/databases

# letsencrypt keys
proxy/letsencrypt/

# seafile
seafile/mysql/

# seatable
seatable-compose/mysql/*
seatable-compose/seatable-license.txt
seatable/mysql/
seatable/seatable-license.txt
seatable-compose/data-backup

# teable
teable/teable-db/
teable/teable-cache

# torrent stack
torrent-stack/config/
torrent-stack/cache/
torrent-stack/jellyfin-config/

# blog
zachtaiji-blog/ghost/