.archived/
**/.env
**/data/
mysql/data/
seafile/mysql/
seatable/mysql/
jellyfin/cache/
jellyfin/config/
proxy/letsencrypt/
seatable/seatable-license.txt
seatable-compose/seatable-license.txt
seatable-compose/mysql/*
zachtaiji-blog/ghost/
.vscode/
teable/teable-db/