# excludes
!dillinger/*
!minecraft-server-fabric/server.properties
.htpasswd

# data dirs
**/data/

# archived files
.archive/
.archived/

# vscode
.vscode/

# env files
**/.env
**/*.env

# homepage config files
homepage/config/logs

# mysql
mysql/data/

# metabase
metabase/databases

# letsencrypt keys
proxy/letsencrypt/

# minio
**/minio-data/**

# seafile
seafile/mysql/
seafile/old_confs/
seafile/mysql-bak

# seatable
seatable-compose/mysql/*
seatable-compose/seatable-license.txt
seatable/mysql/
seatable/seatable-license.txt
seatable-compose/**/*bak*/

# teable
teable/teable-db/
teable/teable-cache

# torrent stack
torrent-stack/config/
torrent-stack/cache/
torrent-stack/jellyfin-config/
torrent-stack/list

# blog
zachtaiji-blog/ghost/

# minecraft
data-bak/

# quartz
testing-content/

# vscode workspace
homelab.code-workspace


