services:
  teable:
    container_name: teable
    image: ghcr.io/teableio/teable-ee:latest
    restart: always
    env_file:
      - .env
    ports:
      - '3000:3000'
    volumes:
      - ./data:/app/.assets:rw
    environment:
      - TZ=${TIMEZONE}
      - NEXT_ENV_IMAGES_ALL_REMOTE=true
    labels:
      - traefik.enable=true
      - traefik.http.routers.teable.entrypoints=web
      - traefik.http.routers.teable.rule=Host(`teable.zachtaiji.com`)
      - traefik.http.services.teable.loadbalancer.server.port=3000
      - traefik.http.routers.teable.middlewares=https_redirect@docker,non_www@docker
      - traefik.http.routers.teable-secure.entrypoints=websecure
      - traefik.http.routers.teable-secure.rule=Host(`teable.zachtaiji.com`)
      - traefik.http.routers.teable-secure.tls=true
      - traefik.http.routers.teable-secure.tls.certresolver=myresolver
      - traefik.docker.network=reverse-proxynet
    networks:
      - teable
      - reverse-proxynet
    depends_on:
      teable-db:
        condition: service_healthy
      teable-cache:
        condition: service_healthy
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost:3000/health']
      start_period: 5s
      interval: 5s
      timeout: 3s
      retries: 3
  teable-db:
    container_name: teable-db
    image: postgres:15.4
    restart: always
    volumes:
      - ./teable-db:/var/lib/postgresql/data:rw
    # comment ports when running behind Traefik
    # ports:
    #   - "5432:5432"
    environment:
      - TZ=${TIMEZONE}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    labels:
      - "traefik.enable=true"
      - "traefik.tcp.routers.teable-db.rule=HostSNI(`*`)"
      - "traefik.tcp.routers.teable-db.entrypoints=postgres"
      - "traefik.tcp.routers.teable-db.service=teable-db-service"
      - "traefik.tcp.services.teable-db-service.loadbalancer.server.port=${POSTGRES_PORT}"
      - traefik.docker.network=reverse-proxynet
    networks:
      - teable
      - reverse-proxynet
    healthcheck:
      test: ['CMD-SHELL', "sh -c 'pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}'"]
      interval: 10s
      timeout: 3s
      retries: 3
  teable-cache:
    image: redis:7.2.4
    container_name: teable_cache
    restart: always
    expose:
      - '6379'
    volumes:
      - ./teable-cache:/data:rw
    networks:
      - teable
    command: redis-server --appendonly yes --requirepass ${REDIS_PASSWORD}
    healthcheck:
      test: ['CMD', 'redis-cli', '--raw', 'incr', 'ping']
      interval: 10s
      timeout: 3s
      retries: 3
networks:
  teable:
    name: teable-network
    #driver: bridge
  reverse-proxynet:
    name: reverse-proxynet
    external: true