services:
  traefik:
    image: traefik:latest
    container_name: proxy
    command:
      - "--api=true"
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=true"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.udp.address=:51413/udp"
      - "--entrypoints.websecure.address=:443"
      - "--entryPoints.mariadb.address=:3306"
      - "--entryPoints.mysql.address=:3307"
      - "--entrypoints.seafile.address=:8000"
      - "--entrypoints.seafhttp.address=:8082"
      - "--entrypoints.postgres.address=:5432"
      - "--entrypoints.teableapi.address=:3000"
      - "--entrypoints.seadoc1.address=:7070"     
      - "--entrypoints.seadoc2.address=:8888"  
      - "--entrypoints.seadoc3.address=:6240"  
      - "--entrypoints.prowlarr.address=:9696" 
      - "--entrypoints.radarr.address=:7878" 
      - "--entrypoints.n8n.address=:5678"
      - "--entrypoints.jackett.address=:9117"
      - "--entrypoints.mc1.address=:8123"
      - "--entrypoints.mc2.address=:19132"
      - "--entrypoints.mc3.address=:25565"
      - "--entrypoints.mc4.address=:25566"
      - "--entrypoints.cobblemon.address=:25568"
      - "--certificatesresolvers.myresolver.acme.httpchallenge=true"
      - "--certificatesresolvers.myresolver.acme.httpchallenge.entrypoint=web"
      - "--certificatesresolvers.myresolver.acme.tlschallenge=true"
      - "--certificatesresolvers.myresolver.acme.email=zach@steelhead.design"
      - "--certificatesresolvers.myresolver.acme.storage=/letsencrypt/acme.json"
      - "--entrypoints.web.http.redirections.entrypoint.to=websecure"
      - "--entrypoints.web.http.redirections.entrypoint.scheme=https"
      - "--entrypoints.web.http.redirections.entrypoint.permanent=true"
    ports:
      - "80:80"
      - "443:443"
      - "5432:5432"
      #- "51413:51413/udp"
    expose:
      - 22
    volumes:
      - ./letsencrypt:/letsencrypt:rw
      - /var/run/docker.sock:/var/run/docker.sock
      - /docker/postgres/auth:/auth:ro
    restart: always
    networks:
      - reverse-proxynet
    labels:
      - traefik.http.routers.http_catchall.rule=HostRegexp(`{any:.+}`) 
      - traefik.http.routers.http_catchall.entrypoints=web 
      - traefik.http.routers.http_catchall.middlewares=https_redirect
      - traefik.http.middlewares.https_redirect.redirectscheme.scheme=https
      - traefik.http.middlewares.https_redirect.redirectscheme.permanent=true  
      - traefik.http.middlewares.non_www.redirectregex.regex=^(http|https)?://(?:www\.)?(.+)
      - traefik.http.middlewares.non_www.redirectregex.replacement=https://$${2} 
      - traefik.http.middlewares.non_www.redirectregex.permanent=true
      - traefik.http.middlewares.transmissionHeaders.headers.customrequestheaders.X-Transmission-Session-Id=""
      - traefik.http.routers.traefik-dash.entrypoints=web
      - traefik.http.routers.traefik-dash.rule=Host(`traefik.zachtaiji.com`)
      - traefik.http.services.traefik-dash.loadbalancer.server.port=8080
      - traefik.http.routers.traefik-dash.middlewares=https_redirect@docker,non_www@docker
      - traefik.http.routers.traefik-dash-secure.entrypoints=websecure
      - traefik.http.routers.traefik-dash-secure.rule=Host(`traefik.zachtaiji.com`)
      - traefik.http.routers.traefik-dash-secure.tls=true
      - traefik.http.routers.traefik-dash-secure.tls.certresolver=myresolver
networks:
  reverse-proxynet:
    name: reverse-proxynet
